<p-panel header="Centrales Electricas del Norte de Santander">
  <div class="flex flex-column flex-md-row">
    <div class="mb-2 mr-2">
      <p-card
        header="CENS patrocina al Club Motilones del Norte"
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="assets/img/club.PNG" />
        </ng-template>
        <p>
          Cúcuta ha sido una de las ciudades “basqueteras” de Colombia, en estas
          tierras se han vivido grandes encuentros deportivos y el derroche de
          talento de los jugadores de baloncesto ha sido un espectáculo desde
          hace varias décadas.
          <br />
          A pesar de la pandemia, la Liga de Baloncesto Profesional Colombiano
          encendió motores y similar a la forma como se jugó el 2020, nuevamente
          una ciudad del país albergará a los 10 equipos que sueñan con ser los
          campeones de este torneo. Entre esos 10 equipos está el Club Motilones
          del Norte, un conjunto integrado por jugadores nacionales y
          extranjeros que acaban de recibir el apoyo de CENS Grupo EPM.
        </p>
        <ng-template pTemplate="footer"> </ng-template>
      </p-card>
    </div>
    <div class="mb-2 mr-2">
      <p-card
        header="Cúcuta tendrá estación de carga para vehículos eléctricos"
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="assets/img/cucuta.PNG" />
        </ng-template>
        <p>
          • CENS ya cuenta con un vehículo eléctrico que no genera monóxido de
          carbono
          <br />
          • En 2021, la empresa espera instalar la primera electrolinera para
          uso de los ciudadanos en un centro comercial de Cúcuta
          <br />
          • La compañía impulsará la primera feria de movilidad eléctrica en la
          región En las instalaciones de CENS, el gerente de la electrificadora,
          José Miguel González Campo, el alcalde de Cúcuta, Jairo Tomás Yañez y
          el director del Área Metropolitana de Cúcuta, Miguel Peñaranda Canal,
          firmaron el memorando de entendimiento entre las tres entidades para
          impulsar la estrategia de movilidad eléctrica en la capital
          nortesantandereana y fortalecer la construcción de soluciones
          innovadoras que contribuyan al desarrollo de un transporte amigable
          con el medio ambiente.
        </p>
        <ng-template pTemplate="footer"> </ng-template>
      </p-card>
    </div>
    <div class="mb-2 mr-2">
      <p-card
        header="Estrenamos carro grúa para fortalecer modernización de infraestructura"
        subheader="Cens"
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="assets/img/carroGrua.PNG" />
        </ng-template>
        <p>
          Un nuevo vehículo importado de marca International dotado con una grúa
          hidráulica de fabricación italiana con capacidad de 5 toneladas se
          suma al parque automotor de CENS para transportar e hincar postes de
          hasta 14 metros de altura.
          <br />
          El camión ya se encuentra en Aguachica y prestará servicios en el sur
          de Cesar y poblaciones del Catatumbo nortesantandereano.
          <br />
          Vehículos como este son indispensables para avanzar en la
          modernización de la infraestructura eléctrica en toda el área de
          influencia de CENS. En los próximos días la empresa pondrá en servicio
          3 nuevas camionetas para las cuadrillas del turno de reparaciones que
          llegan hasta la casa de los usuarios cuando se presenta alguna
          eventualidad con el servicio.
        </p>
        <ng-template pTemplate="footer">
          <!-- <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button> -->
        </ng-template>
      </p-card>
    </div>
    <div class="mb-2 mr-2">
      <p-card
        header="Mantenimiento subestación Ocaña con a potencial"
        subheader="Cens"
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="assets/img/sub.PNG" />
        </ng-template>
        <p>
          Nuevamente la subgerencia de Subestaciones y Líneas realizó trabajos
          de gran impacto sin desconectar el servicio de energía a los usuarios
          utilizando TCT (Trabajos con Tensión) Técnica a Potencial; es decir,
          los operarios técnicos desarrollaron maniobras con niveles de tensión
          de 115 mil voltios sin realizar desconexión de los circuitos,
          situación que no afectó la prestación del servicio en Ocaña,
          poblaciones vecinas, ni el sistema de transmisión regional STR.
          <br />
          Estos trabajos están asociados al Plan de Inversiones y de Reposición
          de CENS y son fundamentales para garantizar la prestación del servicio
          de energía con altos estándares de calidad a toda el área de
          influencia de la compañía.
          <br />
          El trabajo se desarrolló dentro de los tiempos establecidos y no se
          presentaron contratiempos, hecho que destaca la planeación,
          preparación y tenacidad del personal operativo e ingenieros que
          participan en estas maniobras de altísima complejidad, alto riesgo e
          impacto en el sistema de CENS.
        </p>
        <ng-template pTemplate="footer">
          <!-- <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button> -->
        </ng-template>
      </p-card>
    </div>
  </div>
</p-panel>
