<br>
<div class="stepsdemo-content">
  <p-card>
      <form [formGroup]="formSpt" >
    <p-fieldset legend="SISTEMA PUESTA A TIERRA SPT">
      <ng-template pTemplate="content">
        <div class="p-grid p-fluid">
          <div class="p-col-12 p-md-12">
            <p-fieldset legend="S.P.T.">
              <div class="p-grid p-fluid">
                <div class="p-col-12 p-md-8">
                  <div class="p-field">
                    <p-selectButton
                      [options]="sptOptions"
                       formControlName="tieneSPT"
                      optionLabel="label"
                      optionValue="value"
                    ></p-selectButton>
                  </div>
                </div>
              </div>
              <p-fieldset legend="CALIBRE">
        <input type="text" pInputText  formControlName="calibreSPT"/>
      </p-fieldset>
              <div class="p-grid p-fluid">
                <div class="p-col-12 p-md-12">
              <p-fieldset legend="TIPO">
                <div class="p-field-checkbox">
                    <p-checkbox
                      [formControl]="formSpt.controls['tipoSPT']"
                      binary="true"
                    ></p-checkbox>
                    <label for="su">CONTRAPESO</label>
                  </div>

                  <div class="p-field-checkbox">
                    <p-checkbox
                      [formControl]="formSpt.controls['tipoSPT']"
                      binary="true"
                    ></p-checkbox>
                    <label for="qu">ANILLO + CONTRAPESO</label>
                  </div>
                  <div class="p-field-checkbox">
                    <p-checkbox
                      [formControl]="formSpt.controls['tipoSPT']"
                      binary="true"
                    ></p-checkbox>
                    <label for="re">ANILLO</label>
                  </div>
                   <input type="text" pInputText  formControlName="cant"/>
              </p-fieldset>
                </div>
                <div class="p-col-12 p-md-12">
              <p-fieldset legend="BAJANTE">
                    <p-selectButton
                      [options]="bajante"
                       formControlName="tieneBajante"
                      optionLabel="label"
                      optionValue="value"
                    ></p-selectButton>
                    <p-fieldset legend="TIPO">
                      <input type="text" pInputText  formControlName="tipoBajante"/>
                    </p-fieldset>
                    <p-fieldset legend="CALIBRE">
                      <input type="text" pInputText  formControlName="calibreBajante"/>
                    </p-fieldset>
              </p-fieldset>
                </div>
              </div>
            </p-fieldset>
          </div>
          <div class="p-col-12 p-md-12">
             <p-fieldset legend="OBSERVACIONES">
                <textarea
                rows="5"
                cols="30"
                pInputTextarea
                autoResize="autoResize"
                formControlName="observaciones"
              ></textarea>
             </p-fieldset>
          </div>
        </div>
          </ng-template>
    </p-fieldset>
    </form>
       <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-between">
                <p-button label="Back" icon="pi pi-angle-left" (onClick)="prevPage()"></p-button>
                <p-button label="Next" icon="pi pi-angle-right" iconPos="right"  (onClick)="nextPage()"></p-button>
            </div>
        </ng-template>
  </p-card>
</div>