<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <i class="pi pi-bars"></i>
  </label>
  <label class="logo">INSPECCIONES</label>
  <ul>
    <li>
      <a [routerLink]="['/resume/home']" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a [routerLink]="['/resumen/persona']" routerLinkActive="active" *ngIf="isAdmin">Personas</a>
    </li>
    <li>
      <a [routerLink]="['/resumen/estructuras']" routerLinkActive="active"  *ngIf="isAdmin">Estructuras</a>
    </li>
    <li><a [routerLink]="['/resumen/reportes']" routerLinkActive="active"  *ngIf="isAdmin">Reportes</a></li>
    <li>
      <a [routerLink]="['/resumen/formulario']" routerLinkActive="active">Formulario</a>
    </li>
    <li>
      <button
        type="button"
        id="btn_usuario"
        pButton
        pRipple 
        icon="pi pi-user"
        [label]="[usuario]"
        (click)="menu.toggle($event)"
        class="p-button-outlined"
      ></button>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </li>
  </ul>
</nav>
<section>
  <router-outlet></router-outlet>
</section>