::ng-deep .capturaNu__img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 90vw;
  max-width: 370px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.content header {
  color: white;
  font-size: 34px;
  font-weight: 600;
  margin: 0 0 35px 0;
}

.field {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.9);
}

.field span {
  width: 40px;
  line-height: 45px;
}

.field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: gray;
  font-size: 16px;
}

.space {
  margin-top: 16px;
}

.show {
  position: absolute;
  right: 25px;
  color: #222222;
  display: none;
  cursor: pointer;
}

.pass__key:valid ~ .show {
  display: block;
}

.pass {
  text-align: left;
  margin: 10px 0;
}

.pass a {
  color: #3498db;
  text-decoration: none;
}

.pass:hover a{
  text-decoration: underline;
}

.field input[type="submit"] {
  background: #3898db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.field input[type="submit"]:hover {
  background: #2691d9;
}

.login {
  margin: 20px 0;
  color: white;
}

.links{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}

.facebook, .google{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}

.facebook{
  margin-left: 0;
  background: #4267b2;
  border: 1px solid #3e61a8;
}

.facebook:hover{
  background: #3e61a8;
}

.google{
  background: #E1306C;
  border: 1px solid #df2060;
}

.google:hover{
  background: #df2060;
}

.links i {
  font-size: 18px;
}

i span {
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
}

.signup{
  color: white;
  font-size: 18px;
}

.signup a{
  color: #3498db;
  text-decoration: none;
}

.signup a:hover{
  text-decoration: underline;
}