<br />
<div class="stepsdemo-content">
  <p-card>
      <p-fieldset legend="UBICACIÓN DE PODA E INVASIÓN DE SERVIDUMBRE">
        <ng-template pTemplate="content">
          <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-12">
                <p-button  *ngIf="!mostrar" label="Fases" (click)="next()" (click)="mostrar = true"></p-button>
                 <!-- <p-button label="Submit" (click)="next()"></p-button> -->
              <p-tabView *ngIf="mostrar">
                <p-tabPanel header="TORRE I - TORRE II">
                   <form [formGroup]="formUbicacionOneI">
                  <div class="p-grid p-fluid">
                    <div class="p-col-12 p-md-1">
                      <label>TORRE N°</label>
                    </div>
                    <div class="p-col-12 p-md-2">
                      <p-dropdown
                        [options]="cities"
                        formControlName="torredesde"
                        editable="true"
                        optionLabel="name"
                        optionValue="value"
                      ></p-dropdown>
                      <!-- <input type="text" pInputText formControlName="torredesde"/> -->
                    </div>
                    <div class="p-col-12 p-md-1">
                      <label>TORRE N°</label>
                    </div>
                    <div class="p-col-12 p-md-2">
                      <p-dropdown
                        [options]="cities"
                        formControlName="torrehasta"
                        editable="true"
                        optionLabel="name"
                        optionValue="value"
                      ></p-dropdown>
                      <!-- <input type="text" pInputText formControlName="torrehasta"/> -->
                    </div>

                    <div class="p-col-12 p-md-6">
                      <p-selectButton
                        [options]="objetosOptions"
                        formControlName="hayObjetos"
                        optionLabel="label"
                        optionValue="value"
                      ></p-selectButton>
                    </div>
                  </div>
                  <div class="p-col-12 p-md-12">
                    <p-fieldset legend="OBSERVACIONES">
                      <textarea
                        rows="5"
                        cols="30"
                        pInputTextarea
                        autoResize="autoResize"
                        formControlName="descripcion"
                      ></textarea>
                    </p-fieldset>
                  </div>
                  <p-button label="Validar" (click)="guardarUbicacionOneI()"></p-button>
                  </form>
                </p-tabPanel>
                <p-tabPanel header="TORRE II - TORRE III">
                <form [formGroup]="formUbicacionOneII">
                  <div class="p-grid p-fluid">
                    <div class="p-col-12 p-md-1">
                      <label>TORRE N°</label>
                    </div>
                    <div class="p-col-12 p-md-2">
                      <p-dropdown
                        [options]="cities"
                        formControlName="torredesde"
                        editable="true"
                        optionLabel="name"
                        optionValue="value"
                      ></p-dropdown>
                      <!-- <input type="text" pInputText formControlName="torredesde"/> -->
                    </div>
                    <div class="p-col-12 p-md-1">
                      <label>TORRE N°</label>
                    </div>
                    <div class="p-col-12 p-md-2">
                      <p-dropdown
                        [options]="cities"
                        formControlName="torrehasta"
                        editable="true"
                        optionLabel="name"
                        optionValue="value"
                      ></p-dropdown>
                      <!-- <input type="text" pInputText formControlName="torrehasta"/> -->
                    </div>

                    <div class="p-col-12 p-md-6">
                      <p-selectButton
                        [options]="objetosOptions"
                        formControlName="hayObjetos"
                        optionLabel="label"
                        optionValue="value"
                      ></p-selectButton>
                    </div>
                  </div>
                   <div class="p-col-12 p-md-12">
                    <p-fieldset legend="OBSERVACIONES">
                      <textarea
                        rows="5"
                        cols="30"
                        pInputTextarea
                        autoResize="autoResize"
                        formControlName="descripcion"
                      ></textarea>
                    </p-fieldset>
                  </div>
                  <p-button label="Validar" (click)="guardarUbicacionOneII()"></p-button>
                  </form>
                </p-tabPanel>
              </p-tabView>
            </div>
          </div>
        </ng-template>
      </p-fieldset>
    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter p-justify-between">
        <p-button
          label="Back"
          icon="pi pi-angle-left"
          (onClick)="prevPage()"
        ></p-button>
        <p-button
          label="Next"
          icon="pi pi-angle-right"
          iconPos="right"
          [disabled]="formUbicacionOneI.invalid"
          [disabled]="formUbicacionOneII.invalid"
          (onClick)="nextPage()"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
