<br />
<div class="stepsdemo-content">
  <p-card>
    <form [formGroup]="formCableConductor">
      <p-fieldset legend="CABLE CONDUCTOR">
        <ng-template pTemplate="content">
          <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
              <p-fieldset legend="CALIBRE">
                <input
                  type="text"
                  pInputText
                  formControlName="calibreCableConductor"
                />
              </p-fieldset>
            </div>
            <div class="p-col-12 p-md-8">
              <p-fieldset legend="AMORTIGUADOR">
                <div class="p-grid p-fluid">
                  <div class="p-col-12 p-md-5">
                    <p-selectButton
                      [options]="amortiguadorOpcions"
                      formControlName="amortiguadorCableConductor"
                      optionLabel="label"
                      optionValue="value"
                    ></p-selectButton>
                  </div>
                  <div class="p-col-12 p-md-7">
                    <input
                      type="text"
                      pInputText
                      formControlName="cantidadAmortiguadores"
                    />
                  </div>
                </div>
              </p-fieldset>
            </div>
            <div class="p-col-12 p-md-12">
              <form [formGroup]="formEmpalme">
                <p-fieldset legend="EMPALMES">
                  <div>
                    <div class="p-grid p-fluid">
                      
                      <!-- Fase R -->
                      <div class="p-col-4 p-md-4">
                        <form [formGroup]="formFaseR">
                        <button
                          *ngIf="!mostrarFaseR"
                          pButton
                          pRipple
                          type="button"
                          label="FASE R"
                          (click)="mostrarFaseR = true"
                        ></button>
                        <p-card *ngIf="mostrarFaseR">
                          <p-fieldset legend="MANUAL">
                            <input
                              type="text"
                              pInputText
                              formControlName="cantidadManual"
                            />
                          </p-fieldset>
                          <p-fieldset legend="FULL TENSIÓN">
                            <input
                              type="text"
                              pInputText
                              formControlName="cantidadFullTension"
                            />
                          </p-fieldset>
                          <p-fieldset legend="BLINDAJE">
                            <input
                              type="text"
                              pInputText
                              formControlName="cantidadBlindaje"
                            />
                          </p-fieldset>
                          <p-footer>
                            <button
                              pButton
                              pRipple
                              type="button"
                              label="ELIMINAR FASE R"
                              (click)="mostrarFaseR = false"
                              class="p-button-danger"
                            ></button>
                          </p-footer>
                        </p-card>
                        </form>
                      </div>
                      
                  
                      <!-- Fase S -->
                       
                      <div class="p-col-4 p-md-4">
                        <form [formGroup]="formFaseS">
                        <button
                          *ngIf="!mostrarFaseS"
                          pButton
                          pRipple
                          type="button"
                          label="FASE S"
                          (click)="mostrarFaseS = true"
                        ></button>
                        <p-card *ngIf="mostrarFaseS">
                          <p-fieldset legend="MANUAL">
                            <input
                              type="text"
                              pInputText
                              formControlName="cantidadManual"
                            />
                          </p-fieldset>
                          <p-fieldset legend="FULL TENSIÓN">
                            <input
                              type="text"
                              pInputText
                              formControlName="cantidadFullTension"
                            />
                          </p-fieldset>
                          <p-fieldset legend="BLINDAJE">
                            <input
                              type="text"
                              pInputText
                              formControlName="cantidadBlindaje"
                            />
                          </p-fieldset>
                          <p-footer>
                            <button
                              pButton
                              pRipple
                              type="button"
                              label="ELIMINAR FASE S"
                              (click)="mostrarFaseS = false"
                              class="p-button-danger"
                            ></button>
                          </p-footer>
                        </p-card>
                                               </form>
                      </div>

                      <!-- Fase T -->
                       
                      <div class="p-col-4 p-md-4">
                        <form [formGroup]="formFaseT">
                        <button
                          *ngIf="!mostrarFaseT"
                          pButton
                          pRipple
                          type="button"
                          label="FASE T"
                          (click)="mostrarFaseT = true"
                        ></button>
                        <p-card *ngIf="mostrarFaseT">
                          <p-fieldset legend="MANUAL">
                            <input
                              type="text"
                              pInputText
                              formControlName="cantidadManual"
                            />
                          </p-fieldset>
                          <p-fieldset legend="FULL TENSIÓN">
                            <input
                              type="text"
                              pInputText
                              formControlName="cantidadFullTension"
                            />
                          </p-fieldset>
                          <p-fieldset legend="BLINDAJE">
                            <input
                              type="text"
                              pInputText
                              formControlName="cantidadBlindaje"
                            />
                          </p-fieldset>
                          <p-footer>
                            <button
                              pButton
                              pRipple
                              type="button"
                              label="ELIMINAR FASE T"
                              (click)="mostrarFaseT = false"
                              class="p-button-danger"
                            ></button>
                          </p-footer>
                        </p-card>
                        </form>
                      </div>
                       
                    </div>
                  </div>
                </p-fieldset>
              </form>
            </div>
            <div class="p-col-12 p-md-12">
              <form [formGroup]="formDeshilachado">
                <p-fieldset legend="ESTADO CONDUCTOR">
                  <div class="p-field-checkbox">
                    <p-checkbox
                      [formControl]="
                        formCableConductor.controls['buenEstadoConductor']
                      "
                      binary="true"
                      (onChange)="OnChangeBuenEstado()"
                    >
                      ></p-checkbox
                    >
                    <label for="ny">BUEN ESTADO</label>
                  </div>
                  <div class="p-field-checkbox">
                    <p-checkbox
                      [formControl]="formCableConductor.controls['embarrilado']"
                      binary="true"
                      [disabled]="buenEstado"
                    >
                      ></p-checkbox
                    >
                    <label for="ny">EMBARRILADO</label>
                  </div>
                  <p-card *ngIf="embarrilado">
                    <div class="p-col-12 p-md-7">
                      <input
                        type="text"
                        pInputText
                        formControlName="faseEmbarrilado"
                      />
                    </div>
                    <div class="p-col-12 p-md-7">
                      <input
                        type="text"
                        pInputText
                        formControlName="cantidadEmbarrilado"
                      />
                    </div>
                  </p-card>
                  <br />
                  <div class="p-field-checkbox">
                    <p-checkbox
                      [formControl]="
                        formCableConductor.controls['deshilachado']
                      "
                      binary="true"
                    >
                      ></p-checkbox
                    >
                    <label for="ny">DESHILACHADO</label>
                  </div>
                  <p-card>
                    <div class="p-col-12 p-md-7">
                      <input
                        type="text"
                        pInputText
                        formControlName="numeroHilos"
                      />
                    </div>
                    <div class="p-col-12 p-md-7">
                      <input
                        type="text"
                        pInputText
                        formControlName="distancia"
                      />
                    </div>
                    <div class="p-col-12 p-md-7">
                      <input
                        type="text"
                        pInputText
                        formControlName="numeroHilos"
                      />
                    </div>
                    <div class="p-col-12 p-md-7">
                      <input
                        type="text"
                        pInputText
                        formControlName="distancia"
                      />
                    </div>
                    <div class="p-col-12 p-md-7">
                      <input
                        type="text"
                        pInputText
                        formControlName="numeroHilos"
                      />
                    </div>
                    <div class="p-col-12 p-md-7">
                      <input
                        type="text"
                        pInputText
                        formControlName="distancia"
                      />
                    </div>
                  </p-card>
                  <br />
                </p-fieldset>
              </form>
            </div>
            <div class="p-col-12 p-md-12">
              <p-fieldset legend="OBSERVACIONES">
                <textarea
                  rows="5"
                  cols="30"
                  pInputTextarea
                  autoResize="autoResize"
                ></textarea>
              </p-fieldset>
            </div>
          </div>
        </ng-template>
      </p-fieldset>
    </form>
    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter p-justify-between">
        <p-button
          label="Back"
          icon="pi pi-angle-left"
          (onClick)="prevPage()"
        ></p-button>
        <p-button
          label="Next"
          icon="pi pi-angle-right"
          iconPos="right"
          (onClick)="nextPage()"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
