<p-panel header="Administracion de Estructuras">
  <p-menubar [model]="items"></p-menubar>
  <p-table
    #dt
    [value]="estructuras"
    [paginator]="true"
    selectionMode="single"
    [(selection)]="selectedEstructura"
    dataKey="idEstructura"
    [rows]="10"
    [responsive]="true"
    [globalFilterFields]="['idEstructura', 'numEstructura', 'ubicacion']"
  >
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
        <input
          type="text"
          pInputText
          size="20"
          placeholder="Buscar"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width: auto"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">#</th>
        <th>ID Estructura</th>
        <th>Nro Estructura</th>

        <th>Ubicacion</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-estructura>
      <tr [pSelectableRow]="estructura">
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ estructura.idEstructura }}</td>
        <td>{{ estructura.numEstructura }}</td>

        <td>{{ estructura.ubicacion }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div style="text-align: left">
        Registro Seleccionado:
        {{
          selectedEstructura
            ? selectedEstructura.idEstructura +
              " - " +
              selectedEstructura.numEstructura +
              " - " +
              selectedEstructura.ubicacion
            : "Ninguno"
        }}
      </div></ng-template
    >
  </p-table>
</p-panel>

<p-dialog
  header="{{ title }} Estructura"
  [(visible)]="displaySaveEditModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <form action="" [formGroup]="formEstructura">
    <div class="p-grid p-fluid">
      <!-- <div class="p-col-12 p-md-6">
        <div>
          <div>ID Estructura:*</div>
          <input pInputText type="text" formControlName="idEstructura" />
        </div>
        <p-message
          severity="error"
          text="Por favor Ingrese un ID Estructura"
          *ngIf="
            !formEstructura.controls['idEstructura'].valid &&
            formEstructura.controls['idEstructura'].dirty
          "
        ></p-message>
      </div> -->
      <div class="p-col-12 p-md-6">
        <div>
          <div>Nro. Estructura:*</div>
          <input pInputText type="text" formControlName="numEstructura" />
        </div>
        <p-message
          severity="error"
          text="Por favor Ingrese un Nro Estructura"
          *ngIf="
            !formEstructura.controls['numEstructura'].valid &&
            formEstructura.controls['numEstructura'].dirty
          "
        ></p-message>
      </div>
      <div class="p-col-12 p-md-6">
        <div>
          <div>Circuito:*</div>
          <input pInputText type="text" formControlName="circuito" />
        </div>
        <p-message
          severity="error"
          text="Por favor Ingrese un circuito"
          *ngIf="
            !formEstructura.controls['circuito'].valid &&
            formEstructura.controls['circuito'].dirty
          "
        ></p-message>
      </div>

      <div class="p-col-12 p-md-12">
        <div>
          <div>Ubicación:*</div>
          <input pInputText type="text" formControlName="ubicacion" />
        </div>
        <p-message
          severity="error"
          text="Por favor Ingrese una ubicación"
          *ngIf="
            !formEstructura.controls['ubicacion'].valid &&
            formEstructura.controls['ubicacion'].dirty
          "
        ></p-message>
      </div>
      <div class="p-col-12 p-md-12">
        <div>
          <div>Tipo de predio:*</div>
          <p-selectButton
            [options]="stateOptions"
            formControlName="predioPublico"
            optionLabel="label"
            optionValue="value"
          ></p-selectButton>
        </div>
        <p-message
          severity="error"
          text="Por favor Seleccione un tipo de Predio"
          *ngIf="
            !formEstructura.controls['predioPublico'].valid &&
            formEstructura.controls['predioPublico'].dirty
          "
        ></p-message>
      </div>
      <div class="p-col-12 p-md-12">
        <p-fieldset legend="Georeferenciación">
          <div class="p-col-12 p-md-12">
            <div>
              <div>CoordenadaX:*</div>
              <input pInputText type="text" formControlName="coordinadaX" />
            </div>
            <p-message
              severity="error"
              text="Por favor Ingrese la coordenadaX"
              *ngIf="
                !formEstructura.controls['coordinadaX'].valid &&
                formEstructura.controls['coordinadaX'].dirty
              "
            ></p-message>
          </div>
          <div class="p-col-12 p-md-12">
            <div>
              <div>CoordenadaY:*</div>
              <input pInputText type="text" formControlName="coordinadaY" />
            </div>
            <p-message
              severity="error"
              text="Por favor Ingrese la coordenadaY"
              *ngIf="
                !formEstructura.controls['coordinadaY'].valid &&
                formEstructura.controls['coordinadaY'].dirty
              "
            ></p-message>
          </div>
          <div class="p-col-12 p-md-12">
            <div>
              <div>Altura M.S.N.M:*</div>
              <input
                pInputText
                type="text"
                formControlName="alturaSobreNivelMar"
              />
            </div>
            <p-message
              severity="error"
              text="Por favor Ingrese un ID Estructura"
              *ngIf="
                !formEstructura.controls['alturaSobreNivelMar'].valid &&
                formEstructura.controls['alturaSobreNivelMar'].dirty
              "
            ></p-message>
          </div>
        </p-fieldset>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displaySaveEditModal = false"
      label="Cancelar"
      styleClass="p-button-text p-button-danger"
    ></p-button>
    <p-button
      icon="pi pi-check"
      [disabled]="formEstructura.invalid"
      (click)="onGuardar()"
      label="Aceptar"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
