<p-panel header="Administracion Registro de Personas">
  <p-menubar [model]="items"></p-menubar>
  <p-table
    #dt
    [value]="personaList"
    [paginator]="true"
    selectionMode="single"
    [(selection)]="selectedPersona"
    dataKey="cedulaPersona"
    [rows]="10"
    [responsive]="true"
    [globalFilterFields]="['cedulaPersona', 'nombrePersona', 'apellidoPersona', 'telefonoPersona']"
  >
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
        <input
          type="text"
          pInputText
          size="20"
          placeholder="Buscar"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width: auto"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">#</th>
        <th>DOCUMENTO DE IDENTIDAD</th>
        <th>NOMBRE</th>
        <th>APELLIDO</th>
        <th>TELEFONO</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-persona>
      <tr [pSelectableRow]="persona">
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ persona.cedulaPersona }}</td>
        <td>{{ persona.nombrePersona }}</td>
        <td>{{ persona.apellidoPersona }}</td>
        <td>{{ persona.telefonoPersona }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div style="text-align: left">
        Registro Seleccionado:
        {{
          selectedPersona
            ? selectedPersona.cedulaPersona +
              " - " +
              selectedPersona.nombrePersona +
              " - " +
              selectedPersona.apellidoPersona +
              " - " +
              selectedPersona.telefonoPersona
            : "Ninguno"
        }}
      </div></ng-template
    >
  </p-table>
</p-panel>
<p-dialog
  header="{{ title }} Persona"
  [(visible)]="displaySaveEditModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>

  <form action="" [formGroup]="formPersona">
   <div class="p-grid p-fluid">
      <div class="p-col">
          <div>
          <div>CEDULA:*</div>
          <input pInputText type="text" formControlName="cedulaPersona" />
        </div>
         <p-message
          severity="error"
          text="Por favor Ingrese cedula de persona"
          *ngIf="
            !formPersona.controls['cedulaPersona'].valid &&
            formPersona.controls['cedulaPersona'].dirty
          "
        ></p-message>
      </div>
      <div class="p-col">
        <div>
          <div>NOMBRE:*</div>
          <input pInputText type="text" formControlName="nombrePersona" />
        </div>
        <p-message
          severity="error"
          text="Por favor Ingrese Nombre de persona"
          *ngIf="
            !formPersona.controls['nombrePersona'].valid &&
            formPersona.controls['nombrePersona'].dirty
          "
        ></p-message>
      </div>
       <div class="p-col">
        <div>
          <div>APELLIDO:*</div>
          <input pInputText type="text" formControlName="apellidoPersona" />
        </div>
        <p-message
          severity="error"
          text="Por favor Ingrese Apellido de persona"
          *ngIf="
            !formPersona.controls['apellidoPersona'].valid &&
            formPersona.controls['apellidoPersona'].dirty
          "
        ></p-message>
      </div>
       <div class="p-col">
        <div>
          <div>TELEFONO:*</div>
          <input pInputText type="text" formControlName="telefonoPersona" />
        </div>
        <p-message
          severity="error"
          text="Por favor Ingrese Telefono de persona"
          *ngIf="
            !formPersona.controls['telefonoPersona'].valid &&
            formPersona.controls['telefonoPersona'].dirty
          "
        ></p-message>
      </div>
       <div class="p-col">
        <div>
          <div>USUARIO:*</div>
          <input pInputText type="text" formControlName="usuario" />
        </div>
        <p-message
          severity="error"
          text="Por favor Ingrese Usuario"
          *ngIf="
            !formPersona.controls['usuario'].valid &&
            formPersona.controls['usuario'].dirty
          "
        ></p-message>
      </div> <div class="p-col">
        <div>
          <div>USUARIO:*</div>
          <input pInputText type="text" formControlName="usuario" />
        </div>
        <p-message
          severity="error"
          text="Por favor Ingrese Usuario"
          *ngIf="
            !formPersona.controls['usuario'].valid &&
            formPersona.controls['usuario'].dirty
          "
        ></p-message>
      </div>
       <div class="p-col">
        <div>
          <div>CONTRASEÑA:*</div>
          <input pInputText type="text" formControlName="password" />
        </div>
        <p-message
          severity="error"
          text="Por favor Ingrese Contraseña"
          *ngIf="
            !formPersona.controls['password'].valid &&
            formPersona.controls['password'].dirty
          "
        ></p-message>
      </div>
       <div class="p-col">
        <div>
          <div>ESTADO:*</div>
          <p-selectButton
            [options]="estadoActivo"
            formControlName="estadoActivo"
            optionLabel="label"
            optionValue="value"
          ></p-selectButton>
        </div>
        <p-message
          severity="error"
          text="Por favor Seleccione estado de la persona"
          *ngIf="
            !formPersona.controls['estadoActivo'].valid &&
            formPersona.controls['estadoActivo'].dirty
          "
        ></p-message>
      </div>
      <div class="p-col">
        <div>
          <div>ROL:*</div>
          <p-selectButton
            [options]="isAdmin"
            formControlName="esAdministrador"
            optionLabel="label"
            optionValue="value"
          ></p-selectButton>
        </div>
        <p-message
          severity="error"
          text="Por favor Seleccione rol de la persona"
          *ngIf="
            !formPersona.controls['esAdministrador'].valid &&
            formPersona.controls['esAdministrador'].dirty
          "
        ></p-message>
      </div>
   </div>
    
  </form>
   <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displaySaveEditModal = false"
      label="Cancelar"
      styleClass="p-button-text p-button-danger"
    ></p-button>
    <p-button
      icon="pi pi-check"
      [disabled]="formPersona.invalid"
      (click)="onGuardar()"
      label="Aceptar"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>