<br/>
<div class="stepsdemo-content">
  <p-card>
     <form [formGroup]="formAislamiento" >
    <p-fieldset legend="AISLAMIENTO">
      <ng-template pTemplate="content">
        <div class="p-grid p-fluid">
          <div class="card">
    <form [formGroup]="formFase" >
    <p-tabView>
        <p-tabPanel header="FASE R">
            <div class="p-grid p-fluid">
                <div class="p-col-12 p-md-12">
                  <div class="p-field">
                    <p-selectButton
                      [options]="tipo"
                       formControlName="funcion"
                      optionLabel="label"
                      optionValue="value"
                    ></p-selectButton>
                  </div>
                </div>
              </div> 
              <div class="p-grid p-fluid">
                <div class="p-col-12 p-md-12">
                  <div class="p-field">
                    <p-selectButton
                      [options]="clase"
                       formControlName="funcion"
                      optionLabel="label"
                      optionValue="value"
                    ></p-selectButton>
                  </div>
                </div>
              </div> 
              <div class="p-col-12 p-md-7">
                      <input type="text" pInputText formControlName="cantidadEmbarrilado"/>
              </div>

              <button pButton pRipple type="button" icon="pi pi-plus" title="Add Column" (click)="addColumn()" [disabled]="columns.length === 20" class="p-mr-2"></button>
            <button pButton pRipple type="button" icon="pi pi-minus" title="Remove Column" (click)="removeColumn()"[disabled]="columns.length === 1"></button>

              <p-table [columns]="cols"  styleClass="p-datatable-responsive-demo">
    <ng-template pTemplate="header" let-columns>
        <tr>
           <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th *ngFor="let col of columns; let i=index" [@animation]="'visible'">
              {{i + 1}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <span class="p-column-title">{{col.header}}</span>
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
        </p-tabPanel>
        <p-tabPanel header="FASE S">
            

        </p-tabPanel>
        <p-tabPanel header="FASE T">
           
          
        </p-tabPanel>
    </p-tabView>
    </form>
</div>
          
             </div>
          </ng-template>
    </p-fieldset>
     </form>
       <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-between">
                <p-button label="Back" icon="pi pi-angle-left"  (onClick)="prevPage()"></p-button>
                <p-button label="Next" icon="pi pi-angle-right" iconPos="right"  (onClick)="nextPage()"></p-button>
            </div>
        </ng-template>
  </p-card>
</div>
