<br>
<div class="stepsdemo-content">
  <p-card>
    <form [formGroup]="formInformacion" (ngSubmit)="onSubmit()">
      <p-fieldset legend="INFORMACIÓN DE ESTRUCTURA">
        <div class="p-grid p-fluid">
          <div class="p-col-12 p-md-5">
            <div>N° ESTRUCTURA</div>
            <input pInputText type="text"  formControlName="numEstructura" pKeyFilter="alphanum" />
          </div>

          <div class="p-col-12 p-md-5">
            <div>CIRCUITO</div>
            <input pInputText type="text" formControlName="circuito" pKeyFilter="alphanum" />
          </div>
         <div class="p-col-12 p-md-2 p-grid p-ai-end p-jc-center">
            <p-button
              label="Buscar"
              icon="pi pi-search"
              (click)="buscarEstructura()"
            ></p-button>
          </div>
       
          <div class="p-col-12 p-md-4">
            <div>UBICACIÓN</div>
            <input pInputText type="text"  formControlName="ubicacion"  readonly />
          </div>
          <div class="p-col-12 p-md-4">
            <div>PREDIO</div>
            <p-selectButton
              [options]="stateOptions"
              formControlName="predioPublico"
              optionLabel="label"
              optionValue="value"
              disabled="true"
            ></p-selectButton>
          </div>
        </div>
        <p-fieldset legend="GEOREFERENCIACIÓN">
          <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
              <div>COORD X:</div>
              <input pInputText type="text" formControlName="coordinadaX"  readonly />
            </div>
            <div class="p-col-12 p-md-4">
              <div>COORD Y:</div>
              <input pInputText type="text" formControlName="coordinadaY" readonly />
            </div>
            <div class="p-col-12 p-md-4">
              <div>ALTURA M.S.N.M.:</div>
              <input pInputText type="text" formControlName="alturaSobreNivelMar" readonly />
            </div>
          </div>
        </p-fieldset>
      </p-fieldset>
    </form>
    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter p-justify-end">
        <p-button
          label="Next"
          icon="pi pi-angle-right"
          iconPos="right"
            (onClick)="nextPage()" 
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
