<br>
<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Confirmación
        </ng-template>
        <ng-template pTemplate="subtitle">
            Finalizar el formulario si la información es correcta
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-field p-col-12">
                <h4>APANTALLAMIENTO</h4>
                <label>CABLE DE GUARDA:</label>
                <label>TIPO:</label>
                <label>CALIBRE:</label>
                <label>ESTADO CABLE GUARDA:</label>
                <label>CONECTORES CABLE GUARDA:</label>
                <label>OBSERVACIONES:</label>
                <b></b>
            </div>
            <div class="p-field p-col-12">
                <h4>ESTRUCTURA</h4>
                  <label>FUNCIÓN:</label>
                  <label>TIPO:</label>
                  <label>PINTURA:</label>
                  <label>ESTADO-ÁNGULOS:</label>
                  <label>SEÑALIZACIÓN:</label>
                  <label>VIAL:</label>
                  <label>NOMENCLATURA:</label>
                  <label>OBSERVACIONES:</label>
                <b></b>
            </div>
            
            <div class="p-field p-col-12">
                <h4>CABLE CONDUCTOR</h4>
                 <label>CALIBRE:</label>
                  <label>AMORTIGUADOR:</label>
                  <label>EMPALMES:</label>
                  <label>ESTADO CONDUCTOR:</label>
                  <label>OBSERVACIONES:</label>
                 
                <b></b>
            </div>
            <div class="p-field p-col-12">
                <h4>AISLAMIENTO</h4>
                <h5>FASE R</h5>
                <label>TIPO:</label>
                <label>CLASE:</label>
                <label>N° AISLADORES POR CADENA:</label>
                <label>TIPO DE CADENAS:</label>
                <label>PUENTES:</label>
                <label>OBSERVACIONES:</label>
                <h5>FASE S</h5>
                <label>TIPO:</label>
                <label>CLASE:</label>
                <label>N° AISLADORES POR CADENA:</label>
                <label>TIPO DE CADENAS:</label>
                <label>PUENTES:</label>
                <label>OBSERVACIONES:</label>
                <h5>FASE T</h5>
                <label>TIPO:</label>
                <label>CLASE:</label>
                <label>N° AISLADORES POR CADENA:</label>
                <label>TIPO DE CADENAS:</label>
                <label>PUENTES:</label>
                <label>OBSERVACIONES:</label>
                <b></b>
            </div>
            <div class="p-field p-col-12">
                <h4>BASES</h4>
                <h5>ESTADO BASES</h5>
                <label>ANGULOS PRINCIPALES:</label>
                <label>BASE I:</label>
                <label>BASE II:</label>
                <label>BASE III:</label>
                <label>BASE IV:</label>
                <label>OBSERVACIONES:</label>
                <b></b>
            </div>
            <div class="p-field p-col-12">
                <h4>SISTEMA PUESTA A TIERRA SPT</h4>
                <label>TIENE S.P.T.:</label>
                <label>CALIBRE:</label>
                <label>TIPO:</label>
                <label>CANT:</label>
                <label>TIENE BAJANTE:</label>
                <label>TIPO:</label>
                <label>CALIBRE:</label>
                <label>OBSERVACIONES:</label>
                <b></b>
            </div>
            <div class="p-field p-col-12">
                <h4>SERVIDUMBRE</h4>
                <label>PODA:</label>
                <label>SERVIDUMBRE:</label>
                <label>OBSERVACIONES:</label>
                <b></b>
            </div>
            <div class="p-field p-col-12">
                <h4>TRANSPPOSICIÓN</h4>
                <label>ALIMENTADOR DE ENTRADA I:</label>
                <label>ALIMENTADOR DE SALIDA I:</label>
                <label>ALIMENTADOR DE ENTRADA II:</label>
                <label>ALIMENTADOR DE SALIDA II:</label>
                <label>ALIMENTADOR DE ENTRADA III:</label>
                <label>ALIMENTADOR DE SALIDA III:</label>
                <b></b>
            </div>
            <div class="p-field p-col-12">
                <h4>UBICACIÓN DE PODA E INVASIÓN DE SERVIDUMBRE</h4>
                <label>TORRE N°:</label>
                <label>TORRE N°:</label>
                <label>TORRE N°:</label>
                <label>TORRE N°:</label>
                <b></b>
            </div>
            <div class="p-field p-col-12">
                <h4>OBSERVACIONES GENERALES</h4>
                <b></b>
            </div>
            <div class="p-field p-col-12">
                <h4>RESPONSABLES DE LA INSPECCIÓN</h4>
                <label>NOMBRE:</label>
                <label>CODIGO:</label>
                <label>NOMBRE:</label>
                <label>CODIGO:</label>
                <label>NOMBRE:</label>
                <label>CODIGO:</label>
                <label>NOMBRE:</label>
                <label>CODIGO:</label>
                <label>NOMBRE:</label>
                <label>CODIGO:</label>
                <label>FECHA:</label>
                <label>MÓVIL:</label>
                <b></b>
            </div>
            <div class="p-field p-col-12">
                <h4>REVISÓ</h4>
                <label>NOMBRE:</label>
                <label>CODIGO:</label>
                <label>FIRMA:</label>
                <label>FECHA:</label>
                <b></b>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-between">
                <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                <p-button label="Terminar" icon="pi pi-angle-right" iconPos="right" styleClass="p-button-success"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>