<br>
<div class="stepsdemo-content">
  <p-card>
    <p-fieldset legend="TRANSPOSICIÓN">
      <ng-template pTemplate="content">
        <div class="p-grid p-fluid">

        </div>
          </ng-template>
    </p-fieldset>
       <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-between">
                <p-button label="Back" icon="pi pi-angle-left" (onClick)="prevPage()"></p-button>
                <p-button label="Next" icon="pi pi-angle-right" iconPos="right"  (onClick)="nextPage()"></p-button>
            </div>
        </ng-template>
  </p-card>
</div>
