<p-panel header="Administración de Formatos">
  <p-table
    #dt
    [value]="formularios"
    [paginator]="true"
    selectionMode="single"
    [(selection)]="selectedFormulario"
    dataKey="idInspeccion"
    [rows]="10"
    [responsive]="true"
    [globalFilterFields]="[
      'numeroOT',
      'observaciones',
      'nombre1',
      'codigo1'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <button
          pButton
          pRipple
          label="Nuevo"
          icon="pi pi-plus"
          class="p-button-outlined p-button-success p-mr-2"
          (click)="mostrarDialogoGuardar(false)"
        ></button>
        <div style="text-align: right">
          <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
          <input
            type="text"
            pInputText
            size="20"
            placeholder="Buscar"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            style="width: auto"
          />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">#</th>
        <th>NRO ORDEN DE TRABAJO</th>
        <th>OBSERVACIONES GENERALES</th>
        <th>NOMBRE RESPONSABLE</th>
        <th>CODIGO RESPONSABLE</th>
        <th style="width: 8rem">ACCIONES</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-formulario>
      <tr [pSelectableRow]="formulario">
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ formulario.numeroOT }}</td>
        <td>{{ formulario.observaciones }}</td>
        <td>{{ formulario.persona.nombrePersona }} {{ formulario.persona.apellidoPersona }}</td>
        <td>{{ formulario.codigo1 }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-eye"
            class="p-button-rounded p-button-info p-mr-2"
            (click)="onVerFormulario(formulario)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div style="text-align: left">
        Registro Seleccionado:
        {{
          selectedFormulario
            ? selectedFormulario.numeroOT +
              " - " +
              selectedFormulario.observaciones +
              " - " +
              selectedFormulario.persona.nombrePersona + 
              " " + 
              selectedFormulario.persona.apellidoPersona +
              " - " +
              selectedFormulario.codigo1
            : "Ninguno"
        }}
      </div></ng-template
    >
  </p-table>
</p-panel>

<p-dialog
  header="{{ title }} Formulario"
  [(visible)]="displaySaveEditModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <form action="" [formGroup]="formFormulario">
    <div class="p-fluid">
      <div class="p-field p-grid">
            <label for="numeroOT" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Orden Numero</label>
            <div class="p-col-12 p-md-10">
                <input id="numeroOT"  formControlName="numeroOT" type="text" pInputText> 
            </div>
        </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displaySaveEditModal = false"
      label="Cancelar"
      styleClass="p-button-text p-button-danger"
    ></p-button>
    <p-button
      icon="pi pi-check"
      [disabled]="formFormulario.invalid"
      (click)="onGuardar()"
      label="Aceptar"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
-->
